# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=solidhive
COOKIE_SECURE=false

# Configuration email
EMAIL_HOST=mailtrap
EMAIL_PORT=25
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=no-reply@solidhive.com
EMAIL_SUPPORT=support@solidhive.fr
EMAIL_FROM_NAME=SolidHive

# Configuration session et sécurité
SESSION_SECRET=your-very-secure-secret-key-for-session
REDIS_URL=redis://redis:6379
REDIS_PASSWORD=solidhive-redis-password-2026
REDIS_HOST=redis
REDIS_PORT=6379

# Stripe Configuration (Test Keys)
STRIPE_SECRET_KEY=your-very-secure-secret-key
STRIPE_PUBLISHABLE_KEY=your-very-secure-public-key

# Use Stripe Mocks for development (set to 'false' for production)
USE_STRIPE_MOCK=true

# JWT pour la vérification d'email, rest password, etc.
JWT_SECRET=your-very-secure-secret-key-for-email-verification

# URL du frontend
FRONTEND_URL=http://localhost:5173